<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>uTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E3347D91DA82771001F7A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E6F244A1DC10BCC00EA3B30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E9C9F1D1D999DD600106C1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ECCC9911D71ED4700927B8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EFCCD631D37217A00E56276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EFCCD791D37217A00E56276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EFCCD841D37217A00E56276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
